[submodule "game"]
	path = game
	url = https://github.com/erurami/minigames.git
[submodule "engine"]
	path = engine
	url = https://github.com/erurami/connect4-bot.git
[submodule "WinColor"]
	path = WinColor
	url = https://github.com/erurami/win32-theme-color.git
