
#include "WndMenuId.h"

#include <windows.h>

WNDMENU MENU
{
    POPUP "File(&F)"
    {
        MENUITEM "Save(&s)", MENUID_SAVE
        MENUITEM "Save As(&a)", MENUID_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Load(&l)", MENUID_LOAD
        MENUITEM "Open(&o)", MENUID_OPEN
    }

    POPUP "General(&N)"
    {
        MENUITEM "Settings(&s)", MENUID_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Exit(&q)", MENUID_EXIT
    }

    POPUP "Game(&G)"
    {
        MENUITEM "New game(&n)", MENUID_NEWGAME
        MENUITEM SEPARATOR
        MENUITEM "Undo(&u)", MENUID_UNDO
    }
}



CONNECT4SETTINGS DIALOG 10, 10, 260, 70
FONT 10 "Segoe UI"
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "Settings"
{
    // y = 10
    LTEXT   "Thinking Depth : ", -1, 10, 10, 68, 10
    EDITTEXT     IDC_SETTINGS_THINKDEPTH     , 68, 10, 32, 10, ES_AUTOHSCROLL
    CONTROL  "", IDC_SETTINGS_THINKDEPTH_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 78, 10, 15, 12,

    // y = 20
    LTEXT   "(As this value increases, the thinking time will increase)", -1, 10, 20, 260, 10

    // y = 50
    PUSHBUTTON "OK"    , IDC_SETTINGS_OK    , 175, 50, 30, 10
    PUSHBUTTON "Cancel", IDC_SETTINGS_CANCEL, 210, 50, 40, 10
}


CONNECT4INITIALIZE DIALOG 10, 10, 85, 60
FONT 10 "Segoe UI"
STYLE WS_CAPTION | WS_BORDER | WS_SYSMENU
CAPTION "new game"
{

    // y = 10
    LTEXT    "Width : ", -1, 10, 10, 40, 10
    EDITTEXT     IDC_NEWGAME_WIDTH     , 40, 10, 32, 10, ES_AUTOHSCROLL
    CONTROL  "", IDC_NEWGAME_WIDTH_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 50, 10, 15, 12,

    // y = 25
    LTEXT    "Height : ", -1, 10, 25, 40, 10
    EDITTEXT     IDC_NEWGAME_HEIGHT     , 40, 25, 32, 10, ES_AUTOHSCROLL
    CONTROL  "", IDC_NEWGAME_HEIGHT_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS, 50, 25, 15, 12,

    // y = 42
    PUSHBUTTON "Start" , IDC_NEWGAME_START ,  8, 42, 30, 10
    PUSHBUTTON "Cancel", IDC_NEWGAME_CANCEL, 43, 42, 30, 10
}

